<section class="hero" id="inicio">

  <div class="hero-content">

    <p class="hero-subtitle">PRIME BARBER CLUB</p>

    <h1>
      NO ES SOLO UN CORTE,<br>
      ES TU ESTILO.
    </h1>

    <p class="hero-description">
      Estilo, precisión y personalidad en cada corte.
    </p>

    <div class="hero-buttons">
      <a href="#contacto" class="btn btn-primary">
        RESERVAR CITA
      </a>

      <a href="#servicios" class="btn btn-secondary">
        VER SERVICIOS
      </a>
    </div>

  </div>

</section>